<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'" [opened]="(isHandset$ | async) === false">
    <mat-toolbar>Menu</mat-toolbar>

    <div *ngIf="userBoards$ | async as userBoards">
      <div *ngIf="userBoards?.length > 0"></div>
      <mat-action-list>
        <button *ngFor="let board of userBoards" mat-list-item
          (click)="changeActiveBoard(board)">{{board.title}}</button>
      </mat-action-list>
    </div>

    <mat-action-list>
      <button mat-list-item (click)="createNewBoard()">Create new Note</button>
    </mat-action-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <div *ngIf="activeBoard$|async as board">
        <span>{{board.title}}</span>
      </div>
    </mat-toolbar>
    <div id="kanban-board">
      <app-kanban-board></app-kanban-board>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>