.mat-card {
  border: solid 1px #ccc;
  border-radius: 10px;
  box-shadow: none;
  padding: 0.5rem;
  padding-right: 0;
}

textarea {
  outline: none;
  resize: none;
  box-sizing: content-box;
  background-color: inherit;
  width: 95%;
  height: 100%;
  border-radius: 10px;
  border: none;
}

.material-icons {
  font-size: 15px;
}
