<div class="container-fluid my-5 bg-secondry" cdkDropListGroup>
    <div class="row flex-nowrap ">
        <div *ngFor="let rowKey of rowKeys" class="kanban-row col-auto mx-2 d-flex flex-column justify-content-between">
            <h3>{{rowKey}}</h3>
            <div cdkDropList class="tasks-list mb-3" [cdkDropListData]="boardModified[rowKey]"
                (cdkDropListDropped)="drop($event)">
                <div *ngFor="let task of boardModified[rowKey]">
                    <app-task-card [task]=task [status]="rowKey" [edit]="editTask(task.uid)">
                    </app-task-card>
                </div>
            </div>
            <button mat-flat-button class="w-100" (click)="addTask(rowKey)">+ Add Task</button>
        </div>
    </div>
</div>