<div class="container-fluid my-5 bg-secondry" cdkDropListGroup>
    <div class="row flex-nowrap ">
        <div *ngFor="let rowKey of rowKeys" class="kanban-row col-auto mx-2">
            <h3>{{rowKey}}</h3>
            <div cdkDropList class="tasks-list" [cdkDropListData]="boardModified[rowKey]"
                (cdkDropListDropped)="drop($event)">
                <mat-card class="mt-3 task" *ngFor="let task of boardModified[rowKey]" cdkDrag>{{task.title}}</mat-card>
            </div>
        </div>
    </div>
</div>